@import url('https://fonts.googleapis.com/css?family=Rambla');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

p {
  font-family: 'Oswald', sans-serif;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50%;
    display:  table;
    top: 0;
    background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1.content  {
  font-family:'Rambla', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

.btn {
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #f9d381;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #f9d381 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: #fff;
  border: solid #fff 3px;
}
@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }
}

body#contact
{
  text-align: center;
  background: url("../images/beverage-1869598_1920.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.fa {
  color:white;
  padding: 30px;
  margin:20px 50px 20px 50px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  background-position: center;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

ul#contact {
 padding: 1px;
 background:black;
}
li#contact {
 display: inline;
 padding: 0px 10px 0px 10px;

}

.whitehead {
  font-family:'Rambla', sans-serif;
  color: white;
  text-align: center;
}

#hoods {
  color: white;
  margin: 0 auto;
  background: grey;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

  ul.img-list li {
    display: inline-block;
    height: 267px;
    margin: 0 0 0 0;
    position: relative;
    width: 400px;
  }

    span.text-content {
      background: rgba(0,0,0,0.5);
      color: white;
      cursor: pointer;
      display: table;
      height: 267px;
      left: 0;
      position: absolute;
      top: 0;
      width: 400px;
      opacity: 0;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms;
    }

      span.text-content span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

        ul.img-list li:hover span.text-content {
          opacity: 1;
        }
